
.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: rgb(167, 155, 117);
    border-radius: 5px;
    padding: 10px;
    
  }
  
.thumbnail {
    border-radius: 5px;
    width: 100%;
    height: 320px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  }
.product2 {
    border-radius: 0 0 4px 4px;
  }
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 10px;
  }
.film_card{
    display: inline-block;
    width: 250px;
}
.movie_d{
  height: 500px!important;
  width: 100%;
  border-radius: 7px;
}
#movie_info{

  background-color: rgb(77, 77, 77);
  color: white;
  padding: 15px;
  border-radius: 10px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.actor_d{
  background-color: rgb(77, 77, 77);
  color: white;
  padding: 14px;
  border-radius: 10px;
  padding-top: 130px;
  padding-bottom: 130px;
}
.table-dark{
  background-color: rgb(77, 77, 77);
}
#messages {
  padding: 15px;
  font-size: 18px !important;
}
#navbarNavDropdown{
  float: left !important;
}
.nav-but{
  width: 80px;
  height: 40px;
  background-color: #087637;
  border-radius: 4px;
  text-align: center;
  color: aliceblue;
}

#nav-but:hover{

  opacity: 0.8;
  border-radius: 4px;
  border:   #087637!important;
  background-color: rgb(255, 255, 255);
  color: #087637!important;
}

#adv{
  position: absolute;
  left: 135px;
  min-width: 600px!important;
  min-height: 800px!important;
  max-width: 600px!important;
  max-height: 800px!important;
}
