
{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<style>



    </style>
{% endblock %}
{% block body %} 

<div class="container">
    <br> 
    <h3>Actors</h3>

{% for actor in  actors %}
   
<div class="row">
    <div class="col-md-3">
            <a  href=""> <img class="movie_d"  src="{% static  actor.imageURL %}"></a> 
    </div>


    <div class="col-md-9">
        <div class="actor_d">
                <h5><strong>{{actor.name}}</strong></h5>
                <br>
                <h5><strong>Age:{{actor.age}}</strong></h5>
                <br>
                <h5><strong>Gender: {{actor.gender}}</strong></h5>
                <br>
                <h5 ><strong>Biography: {{actor.biography}}</strong></h5>
                <br>          
        </div> 
    </div>

    </div>

        <table class="table table-dark mt-5">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Rate</th>
                <th scope="col">Gender</th>
              </tr>
            </thead>
            <tbody>
                {% for films_list in  films_lists %}
               
        
                <tr class="name_list">
                  
                  <th > <a id="image" href="{% url 'moviess:movies_detail' films_list.slug %}"> <img class="thumbnail" id="image"   src="{% static  films_list.imageURL %}"></a></th>
                  <td>{{films_list.title}}</td>
                 
                  <td>{{films_list.rate}}</td>
                  <td></td>
                </tr>
             
                {% endfor %}
        
            </tbody>
          </table>     
         




{% endfor %}
</div>







{% endblock  %}

{% block js_files %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}